.search__container{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 300;
}

.search-bar {
  margin-left: 10px;
  width: 300px;
  height: 45px;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

 .option__bar {
   width: 135px;
   height: 45px;
   font-size: 1rem;
   border: 1px solid #D0CFCE;
   outline: none;
   &:focus{
     border: 1px solid #008ABF;
     transition: 0.35s ease;
     color: #008ABF;
     &::-webkit-input-placeholder{
       transition: opacity 0.45s ease;
   	  opacity: 0;
      }
     &::-moz-placeholder {
       transition: opacity 0.45s ease;
   	  opacity: 0;
      }
     &:-ms-placeholder {
      transition: opacity 0.45s ease;
   	 opacity: 0;
      }
    }
  }


.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}
