@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-top: 1px solid $gray-lighter;
  padding: 20px 0;

  p {
    color: $gray-light;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  ul li {
    float: left;

    a {
      color: $gray-light;
    }

    a:hover,
    a:active,
    a:focus {
      text-decoration: none;
      color: $gray;
    }
  }
}

@include breakpoint(tablet) {
  .Footer ul li:first-child {
    margin-right: 30px;
  }
}
